@import '../common.less';
#goStockTable{
  font-size: 16px;
  .item{
    display: flex;
    font-size:16px;
    .item_row{
      flex:1;
      min-width: 300px;
      word-break: break-all;
      display: flex;
    }
  }
  .w100{
    min-width: 100px;
    max-width: 100px;
  }
  .crosswise{
    width: 1140px!important;
    min-height: 620px!important;
  }
  .print_head{
    .title{
      font-size: 28px;
    }
  }
  .print_row{
    font-size: 18px;
  }
  .left{
    padding-left: 8px!important;
  }
  .left{
    padding-right: 8px!important;
  }
}