
@import './common.less';
#storeDetail{
  width: 1366px;
  margin-left: auto;
  margin-right: auto;
  .spanInput{
    height: 30px;
    line-height: 30px;
    border:1px solid #DCDFE6;
    display: block;
    padding: 0 15px;
    background-color: #F5F7FA;
    cursor: not-allowed;
    border-radius: 4px;
  }
}