
@import './common.less';
#storeDetail{
  width: 1366px;
  margin-left: auto;
  margin-right: auto;
  .spanInput{
    height: 30px;
    line-height: 30px;
    border:1px solid #DCDFE6;
    display: block;
    padding: 0 15px;
    background-color: #F5F7FA;
    cursor: not-allowed;
    border-radius: 4px;
  }
  .self{
    display: inline-block;
    padding: 0;
    margin: 2px;
  }
  .tcolumn{
    &.fuck{
      display: flex;
      align-items: center;
      flex-direction: row;
      padding: 0 10px;
    }
  }
  .collapse_item{
    width: 100%;
    height: auto;
    background-color: #f0f2f5;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .tableTopBtnCtn{
      display: flex;
      justify-content: flex-end;
      margin: 8px;
      width: calc(100% - 16px);
    }
    .tableCtnLv2{
      background-color: #FFF;
      margin: 8px;
      width: calc(100% - 16px);
    }
    .max40{
      max-width: 40px;
      min-width: 40px;
    }
  }
}